# 79,768,7885,79370,791562
export PATIENTS=7885
# alloy or postgres
export DB_TYPE=postgres
export RUNNING_ON_HAPI_VM=false
export FHIR_UPLOADER_CORES=8
export ENABLE_UPLOAD=false
export ENABLE_DOWNLOAD=true
export JDBC_MODE=false
export FHIR_ETL_RUNNER=DataflowRunner

# pipeline-scaling-1, pipeline-scaling-2, pipeline-scaling-belgium
export POSTGRES_DB_INSTANCE="pipeline-scaling-2"
export PROJECT_ID="fhir-analytics-test"
