# This is to ignore all `dwh` dirs; the root one has a lot of test parquet files
# and we also commonly use this directory name for storing pipelines' outputs.
**/dwh/

# Ignoring other large directories that are not needed for the docker image.
docker/mysql-build
synthea-hiv/
e2e-tests/
**/tmp
**/venv*
