[MASTER]
ignore=tests
extension-pkg-whitelist=pydantic

[MESSAGES CONTROL]
# Disable some noisy rules for now
disable=C0114,  # missing-module-docstring
        C0115,  # missing-class-docstring
        C0116,  # missing-function-docstring
        R0903   # too-few-public-methods

[FORMAT]
max-line-length=100

