#
# Copyright 2020-2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# This config is meant to work with `compose-controller-spark-sql.yaml`.
fhirdata:
  # This is the base URL of the FHIR server; 172.17.0.1 is an example docker
  # network interface address; `hapi-server` is another docker example where
  # a container with that name is running on the same docker network.
  # If `dbConfig` is not set, resources are fetched through the FHIR search API.
  # fhirServerUrl: "http://172.17.0.1:8091/fhir"
  # fhirServerUrl: "http://hapi-server:8080/fhir"

  # If this is set, resources are fetched directly from the HAPI database. In
  # this case the value of `fhirServerUrl` is ignored.
  dbConfig: "config/hapi-postgres-config_local.json"

  # For GCS file system the dwhRootPrefix should be of the format
  # "gs://<bucket>/<baseDirPath>/<prefix>". For Unix file system the
  # dwhRootPrefix should be of the format "/<baseDirPath>/<prefix>".
  dwhRootPrefix: "/dwh/controller_DWH"

  thriftserverHiveConfig: "config/thriftserver-hive-config_local.json"

  # The schedule format is similar to Spring's CronExpression, i.e.,
  # "second minute hour day-of-the-month month day-of-the-week", e.g.,
  # "0 0 * * * *" means top of every hour;
  # "*/30 * * * * *" means in the middle of each minute;
  # Note a too frequent run might be too resource intensive.
  incrementalSchedule: "0 0 * * * *"
  # Comma separated list of resources to fetch/monitor.
  resourceList: "Patient,Encounter,Observation"
  maxWorkers: 10
  createHiveResourceTables: true
  hiveJdbcDriver: "org.apache.hive.jdbc.HiveDriver"
