<html>
<head>

  <title>
    FHIR Analytics Pipelines Control Panel
  </title>

  <link rel="stylesheet" type="text/css" href="../static/style.css"
        th:href="@{/style.css}">
  <!-- Bootstrap core CSS -->
  <link href="../static/bootstrap-5.0.2-dist/css/bootstrap.min.css"
        th:href="@{/bootstrap-5.0.2-dist/css/bootstrap.min.css}" rel="stylesheet">
  <script src="../static/bootstrap-5.0.2-dist/js/bootstrap.min.js"
          th:src="@{/bootstrap-5.0.2-dist/js/bootstrap.min.js}"></script>

  <script>
    function openLogs(logPath) {
      window.open('/download?path='+logPath, '_blank').focus();
    }

    function changeVisibility(elemId, makeVisible) {
      var elem = document.getElementById(elemId);
      if (makeVisible) {
        elem.style.display = 'block';
      } else {
        elem.style.display = 'none';
      }
    }

    function runPipeline(isFullRun) {
      console.log('Trying to start pipeline; isFullRun: ' + isFullRun);
      var xhr = new XMLHttpRequest();
      xhr.open("POST", '/run', true);
      xhr.onreadystatechange = function() {
        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
          console.log('Submit succeeded.');
          changeVisibility('pipelineSubmit', true);
          setTimeout(function() {
            // Reload the page after 2 seconds
            location.reload();
          }, 2000);
        }
        // Handle errors.
        if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
          console.log('Starting the pipeline failed: ' + this.response);
          changeVisibility('pipelineWait', false);
          document.getElementById('submitError').innerHTML += ' ' + this.response;
          changeVisibility('submitError', true);
        }
      }
      formData = new FormData();
      formData.append('isFullRun', isFullRun);
      changeVisibility('pipelineWait', true);
      xhr.send(formData);
    }

  </script>

  <script>

    function showPipelineProgress(stats) {
      if (stats == null || stats == undefined) {
        changeVisibility('pipelineRunning', true);
      } else {
        adjustProgressBarWidth(stats.percentageCompleted);
      }
    }

    function adjustProgressBarWidth(progressBarWidth) {
      var progress = document.querySelector(".progress");
      progress.style.display = 'block';

      var bar = document.querySelector(".progress-bar");
      bar.style.display = 'block';
      bar.style.width = progressBarWidth + "%";
      bar.innerText = progressBarWidth + "%";
    }
  </script>

  <script th:if="${isRunning}">origStatus = "RUNNING"</script>
  <script th:unless="${isRunning}">origStatus = "IDLE"</script>
  <script>
    function updateStatus() {
      var xhr = new XMLHttpRequest();
      xhr.open("GET", '/status', true);
      xhr.onreadystatechange = function() {
        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
          var data = this.response;
          var json = JSON.parse(data);
          status = json.pipelineStatus;
          stats = json.stats;

          if (status != origStatus) {
            if (status == "IDLE") {
              changeVisibility('pipelineRunning', false);
              changeVisibility('pipelineDone', true);
            } else {
              changeVisibility('pipelineSubmit', true);
              showPipelineProgress(stats)
            }
            setTimeout(function() {
              // Reload the page after 2 seconds
              location.reload();
            }, 2000);
          } else if (status == "RUNNING") {
            showPipelineProgress(stats)
          }
        }
        if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
          console.log('Error in fetching status: ' + this.response);
        }
      }
      xhr.send();
    }
    timer = setInterval(
      function() {
        updateStatus();
      }, 2000);

    function createResourceTables() {
      var xhr = new XMLHttpRequest();
      xhr.open("POST", '/tables', true);
      xhr.send();
      xhr.onreadystatechange = function() {
        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
          console.log('Tables creation request submitted successfully.');
          success.style.display = "block";
        }
        // Handle errors.
        if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
          console.log('Creation of tables failed: ' + this.response);
          failure.style.display = "block";
        }
      }

    }

    setInterval(() => {
      success.style.display = "none";
      failure.style.display = "none";
    }, 4000);

    function fetchLatestMetrics() {
      var xhr = new XMLHttpRequest();
      xhr.open("GET", '/actuator/pipeline-metrics', true);
      xhr.onreadystatechange = function() {
        var metricsBodyElement = document.getElementById('metricsBody');
        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
          metricsBodyElement.style.display = "block";
          if (this.response) {
            metricsBodyElement.innerHTML = "<pre>" + this.response + "</pre>";
          } else {
            metricsBodyElement.innerHTML = "Pipeline metrics are not available";
          }
        }
        if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
          console.log('Error in fetching metrics: ' + this.response);
          metricsBodyElement.style.display = "block";
          metricsBodyElement.innerHTML = "Error occurred while fetching metrics";
        }
      }
      xhr.send();
    }
  </script>
</head>

<body>
<div class="container container-sm">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4">FHIR Pipelines Control Panel</span>
    </a>
    <ul class="nav nav-pills">
      <!-- TODO add tabs for other services
      <li class="nav-item"><a href="#" class="nav-link">Spark Admin</a></li>
      <li class="nav-item"><a href="#" class="nav-link">SQL Console</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Notebook</a></li -->
      <li class="nav-item"><a href="config.html" th:href="@{/help}" class="nav-link">Help</a></li>
    </ul>
  </header>

  <div class="container py-3">
    <div class="row">
      <main>

        <div class="alert alert-primary alert-dismissible fade show" role="alert" th:if="${isRunning}">
          <div class="progress" style="height:20px; display:none">
            <div class="progress-bar progress-bar-striped" style="min-width:30px; font-size:medium; display:none"></div>
          </div>
          <div class="alert alert-primary alert-dismissible fade show" role="alert" id="pipelineRunning" style="display:none">
            <!-- TODO replace the spinning GIF with something that uses less CPU for rendering. -->
            <img width="100px" src="../static/Spinning_wheel_throbber_blue.gif" th:src="@{/Spinning_wheel_throbber_blue.gif}">
            A pipeline is currently running!
          </div>
        </div>

        <div class="alert alert-primary alert-dismissible fade show" role="alert" id="pipelineDone" style="display:none">
          The pipeline finished; reloading ...
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="alert alert-info alert-dismissible fade show" id="pipelineWait" style="display:none">
          <img width="100px" src="../static/Spinning_wheel_throbber_blue.gif" th:src="@{/Spinning_wheel_throbber_blue.gif}">
          The pipeline is being started ...
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="alert alert-info alert-dismissible fade show" id="pipelineSubmit" style="display:none">
          A new pipeline started; wait for reload ...
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" id="submitError" style="display:none; color:red">
          Error in starting the pipeline!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="alert alert-danger alert-dismissible fade show"
             th:if="${lastRunDetails ne null AND lastRunDetails.status == 'FAILURE'}"
             style="color:red">
          Last run failed! Please find error logs here
          <button type="submit"
                  class="button btn btn-primary" th:onclick="openLogs([[${lastRunDetails.logFilePath}]])">
            View Raw Logs
          </button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" id="errorFetchingRawLogs"
             style="display:none; color:red">
          Error in fetching raw logs!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>

        <div th:attr="class=${isRunning ? 'disabled' : ''}">
          <h3 class="ml-5">Run pipelines</h3>
          <div class="alert alert-info alert-dismissible fade show mt-2">
            Incremental pipeline is scheduled to run at <strong>[[${next_run}]]</strong>
          </div>
          <!-- TODO add last run time -->
          <!-- End to-do -->
          <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
            <div class="col">
              <div class="card md-5 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h5>Run Incremental Pipeline</h5>
                </div>
                <div class="card-body">
                  <p>This fetches the resources since last run and merges them into the data-warehouse.</p>
                  <button type="submit" name="mode" class="button btn btn-primary"
                          th:classappend="${hasDwh ? '' : 'disabled'}" onclick="runPipeline(false)">
                  Run Incremental
                  </button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card md-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h5>Run Full Pipeline</h5>
                </div>
                <div class="card-body">
                  <p>Fetch all of the resources and create a new data-warehouse snapshot</p>
                  <button type="submit" name="mode" class="button btn btn-primary" onclick="runPipeline(true)">
                    Run Full
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 50px">
          <h3>List of DWH snapshots</h3>
          <p>Refresh icon: <span class="glyphicon glyphicon-refresh"></span></p>
          <div class="alert alert-secondary alert-dismissible fade show">
            <b>Latest:</b> [[${dwh}]]
            <div style="float:right;">
              <button type="submit" name="mode" class="button btn btn-primary" style="margin: -7;"
                      th:classappend="${hasDwh ? '' : 'disabled'}" onclick="createResourceTables()">
                Create Resource Tables
              </button>
            </div>
          </div>
          <!-- TODO add the list of DWH snapshots once the API is implemented
          <div class="accordion" id="accordionDWH">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                        aria-controls="flush-collapseOne">
                  Archive of DWH Snapshots
                </button>
              </h2>

              <div id="flush-collapseOne" class="accordion-collapse collapse"
                   aria-labelledby="flush-headingOne" data-bs-parent="#accordionDWH">
                <div class="accordion-body">
                  <ul>
                    <li><span class="badge bg-primary">Latest</span>&nbsp;<span
                        class="badge bg-secondary">Incremental pipeline</span>&nbsp;/tmp/controller_DWH_TIMESTAMP_2022-11-22T03-41-13.693399Z
                    </li>
                    <li><span class="badge bg-secondary">Full pipeline</span>&nbsp;/tmp/controller_DWH_TIMESTAMP_2022-10-22T03-41-13.693399Z
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div-->
        </div>
        <div class="alert alert-success" style="float:right;display:none;" id="success">
          Request for resource tables creation sent successfully.
        </div>
        <div class="alert alert-danger" style="float:right;display:none;" id="failure">
          Something went wrong while creating resource tables.
        </div>
        <div style="margin-top: 50px">
          <h3>Configuration Settings</h3>
          <div class="accordion" id="configAccordian">
            <div class="accordion-item">
              <h2 class="accordion-header" id="ca-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ca-collapseOne" aria-expanded="false" aria-controls="ca-collapseOne">
                  Main configuration parameters
                </button>
              </h2>
              <div id="ca-collapseOne" class="accordion-collapse collapse" aria-labelledby="ca-headingOne" data-bs-parent="#configAccordian">
                <div class="accordion-body">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <td>
                        Parameter
                      </td>
                      <td>
                        Value
                      </td>
                      <td>
                        Default Value
                      </td>
                      <td>
                        Description
                      </td>
                    </tr>
                    </thead>
                    <tr th:each="config: ${configParams}">
                      <td>
                        <span th:text="${config.name}">test param</span>
                      </td>
                      <td>
                        <span th:text="${config.value}">test value</span>
                      </td>
                      <td>
                        <span th:text="${config.def}">default value</span>
                      </td>
                      <td>
                        <span th:text="${config.description}">test description</span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Batch pipeline non-default configurations
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo">
                <div class="accordion-body">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <td>
                        Parameter
                      </td>
                      <td>
                        Value
                      </td>
                      <td>
                        Default Value
                      </td>
                      <td>
                        Description
                      </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="config: ${nonDefConfigs}">
                      <td>
                        <span th:text="${config.name}">test param</span>
                      </td>
                      <td>
                        <span th:text="${config.value}">test value</span>
                      </td>
                      <td>
                        <span th:text="${config.def}">default value</span>
                      </td>
                      <td>
                        <span th:text="${config.description}">test description</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Batch pipeline default configurations
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree">
                <div class="accordion-body">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <td>
                        Parameter
                      </td>
                      <td>
                        Value
                      </td>
                      <td>
                        Default Value
                      </td>
                      <td>
                        Description
                      </td>
                    </tr>
                    </thead>
                    <tr th:each="config: ${defConfigs}">
                      <td>
                        <span th:text="${config.name}">test param</span>
                      </td>
                      <td>
                        <span th:text="${config.value}">test value</span>
                      </td>
                      <td>
                        <span th:text="${config.def}">default value</span>
                      </td>
                      <td>
                        <span th:text="${config.description}">test description</span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 50px">
          <h3>Pipeline Metrics</h3>
          <div class="card md-5 rounded-3 shadow-sm">
            <div class="card-header py-3">
              Fetch the latest pipeline metrics
                <button type="submit" style="float: right; margin: -7;"
                        class="button btn btn-primary" onclick="fetchLatestMetrics()">
                  Fetch Latest Metrics
                </button>
            </div>
            <div class="card-body" id="metricsBody" style="display:none;">
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <footer class="footer mt-auto py-3">
    <div class="container text-center">
      <span class="text-footer">View source at <a href="https://github.com/google/fhir-data-pipes">github.com</a></span>
    </div>
  </footer>
</div>
</body>
</html>
