<?xml version="1.0" encoding="UTF-8" ?>
<!--
 Copyright 2020 Google LLC

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<!-- This is copied from openmrs-core repository and modified for our needs. -->

<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%p - %C{1}.%M(%L) |%d{ISO8601}| %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.apache" level="WARN"/>
    <Logger name="org.hibernate" level="ERROR"/>
    <Logger name="net.sf.ehcache" level="ERROR"/>
    <Logger name="org.springframework" level="WARN"/>
    <!-- Logger name="org.openmrs" level="WARN" / -->
    <Logger name="org.openmrs" level="INFO"/>
    <Logger name="liquibase" level="INFO"/>
    <!--
      This controls the LoggingAdvice class that wraps around the OpenMRS services
      WARN == don't log anything special for the services
      INFO == log all setters
      DEBUG == log all setters & log all getters & log execution time
    -->
    <Logger name="org.openmrs.api" level="INFO"/>
    <Logger name="org.ict4h" level="INFO"/>
    <Logger name="org.apache.fop" level="ERROR"/>
    <!-- Hide the useless MissingResourceException -->
    <Logger
        name="org.springframework.context.support.ResourceBundleMessageSource"
        level="ERROR"/>
    <Logger
        name="org.springframework.beans.factory.support.DefaultListableBeanFactory"
        level="ERROR"/>
    <Root level="WARN">
      <AppenderRef ref="CONSOLE"/>
      <!-- AppenderRef ref="MEMORY_APPENDER"/ -->
      <!--<AppenderRef ref="DEBUGGING_FILE_APPENDER" />-->
    </Root>
  </Loggers>
</Configuration>
