# This is based on:
# https://github.com/codecov/example-java-maven/blob/main/.github/workflows/ci.yml
name: Codecov
on: [push, pull_request]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: 17
    - name: Install dependencies
      run: mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
    - name: Run tests and collect coverage
      run: mvn -B test
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      env:
        # To find this token, and how it is stored in the repo, see:
        # https://docs.codecov.com/docs/adding-the-codecov-token
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}